<!DOCTYPE html>
<html lang="en">
<head> 
          <meta charset="utf-8" />
          <meta name="author" content="Caitlin Crowe">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Pattern Library-Navagation</title>
    <link href="../CSS/style3.css" type="text/css" rel="sytlesheet"/>

 
</head>
<h1>Navigation</h1>


<nav>
    <ul>
     <li> <a href="#home">Typography</a></li>
     <li><a href="#s1">Components</a></li>
     <li><a href="#s2">Objects</a><br /></li>
    </ul>
  </nav>
    
