/*----------CSS Reset----------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;}

/*---------Main Styling--------*/

body {
    width: 70%;
    max-width: 670px;
    margin: auto; 
    background: #fafafafa;
    color:black;
    
}


/*---------TYPOGRAPHY---------*/

h1, h2, h3 {
    font-weight:normal;
    color:rgb(241, 6, 6);
    text-align: center;

}

h1 {font-size: 2.827em;
    margin-top:2em;
    margin-bottom: 0.1em;
}

h2{font-size: 1.999em;
margin: 1em 0 1em 0
}

h3{font-size: 1.414em;
    margin-top:2em;
    margin-bottom: 1.5em;
    font-family: 'Libre Baskerville', serif;}


blockquote{
    font-size: 1.5em;
    hanging-punctuation: first;
    text-indent: -0.45;
}

cite{
    font-size: 1em;
}

.indent {
    margin-left: 5em;
}

/*-----------STYLING LINKS--------*/
a{
    color: rgb(208, 255, 0);
    text-decoration: none;
}
a:hover{
    color: crimson;
    border-bottom: 1px dotted;
}

/*-----------NAVIGATION----------*/
.nav1{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: crimson;
    padding: 1em 0;
    font-size: 0.80em;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}
nav a:link{
    color: #fafafafa;
}

nav a:hover{
    border-bottom: none;
    color:rgb(208, 255, 0);
}

/*-----------------NAVIGATION VERSION 2---------------------*/
.nav2{
        background-color: #05132e;
        border-style: double;
        padding:12px;
    }
  
    nav-pills 
    { 
        display:inline-block; 
    }
    
    nav2 li 
    { 
        display:inline;
    } 
    
    nav2 li a 
    { 
        float:left; 
    } 
    
       
    .nav-pills > li.active > a {	/* Specificly Set */
        background-color:#568e8f;
        border-style: double;
    }

    /* Style all the cols slightly different*/
    #s1
    {
        border-style: groove;
        padding: 10px;
        background-color: #503030;
        color: #f2f2f2;
        border-color: #8c8c8c;
    }
    
    #s2
    {
        border-style: groove;
        padding: 10px;
        background-color: #503030;
        color: #f2f2f2;
        border-color: #8c8c8c;
    }
    
    #s3
    {
        border-style: groove;
        padding: 10px;
        background-color: #503030;
        color: #f2f2f2;
        border-color: #8c8c8c;
    }
      
        #button { padding: .5em 1em; text-decoration: none; }
        #effect { width: 240px; height: 70px; padding: 0.4em; position: relative; }
        #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
        .ui-effects-transfer { border: 2px dotted gray; }
/*------------------- TABLE STYLING ---------------*/

table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    width: 100%;
}

th {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background:crimson;
}

th, td {
    padding: .6em }

table, td   {
    background:rgb(243, 137, 158);
    border: 1px solid #fafafa

}

/*-------------- IMAGES -----------------*/

img {
    display: block;
    margin: 3em auto;
    padding: 0;
    max-width: 100%;
}

/*-----------FOOTER----------*/
footer{
    text-align: center;
    font-size: 0.707em;
    padding: 2em 0 2em 0;
}